* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    .mySlides{display: none;}
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

header{
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    align-items: center ;
    justify-content: space-between;
    z-index: 99;

}


.logo{
    height: 100px;
    display: flex;
    align-items: center;
}
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 20px;
    position: relative;
}

.navigation a {
    text-align: center;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    position: relative;
}
.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform: scaleX(0);
    transition: 0.5s;

}
.navigation .current::after{
    display: none;
}

.navigation a.current{
    content: '';
    position: relative;
    left: 0;
    bottom: -9px;
    height: 3px;
    background: white;
    border-radius: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: end;
}
.navigation a:hover::after{
    transform: scaleX(1);
}

.btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color:white;
    font-weight: 500;
    transition: .5s;
}
.btnLogin-popup:hover {
background: white;
color: black
}

.wrapper {
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: none;
    justify-content: center;
    align-items: center;
 }
 .wrapper .form-box {
    padding: 40px;
 }
.form-box h2 {
    font-size: 2em;
    color: white;
    text-align: center;
    opacity: 100%;
}
.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 30px 0;
}

.home{
    display: flex;
    justify-content: center;
    border: 2px solid white;
    width: 70%;
    height: 100vh;
    background-color: grey;
    padding-top: 20px;

}





.slideshow-container{
    width: 75%;
}